{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Public API"
  },
  "host": "api.squarespace.com",
  "tags": [{
    "name": "Inventory",
    "x-api-name": "inventory"
  }, {
    "name": "Orders",
    "x-api-name": "orders"
  }, {
    "name": "Transactions",
    "x-api-name": "transactions"
  }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/{version}/commerce/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders",
        "description": "List Orders, sorted by their modifiedOn date in reverse chronological order",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "maxLength": 25
          },
          {
            "name": "fulfillmentStatus",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PENDING",
              "FULFILLED",
              "CANCELED"
            ]
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer {your-API-key}"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of Orders",
            "schema": {
              "$ref": "#/definitions/OrderFulfillmentRequest"
            }
          }
        },
        "x-event-name": "OrdersApi_GetOrders"
      }
    },
    "/{version}/commerce/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get one Order",
        "description": "Get one Order",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Return one Order",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        },
        "x-event-name": "OrdersApi_GetOneOrder"
      }
    },
    "/{version}/commerce/orders/{id}/fulfillments": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Fulfill an Order",
        "operationId": "fulfillOrder",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specifies the Order to update."
          },
          {
            "in": "body",
            "name": "fulfillmentRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OrderFulfillmentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Order was successfully fulfilled."
          }
        },
        "x-event-name": "OrdersApi_FulfillOrder"
      }
    },
    "/{version}/commerce/inventory": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get information on the inventory stock levels for all variants, paginated",
        "description": "Get information on the inventory stock levels for all variants, paginated",
        "operationId": "getInventoryItems",
        "parameters": [{
          "name": "version",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "cursor",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedInventoryItemListResponse"
            }
          }
        },
        "x-event-name": "InventoryApi_GetInventoryItems"
      }
    },
    "/{version}/commerce/inventory/{variantIdCsvs}": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get information on the inventory stock levels for one or more variants.",
        "description": "Get information on the inventory stock levels for one or more variants.",
        "operationId": "getSpecificInventoryItems",
        "parameters": [{
          "name": "version",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "variantIdCsvs",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InventoryItemListResponse"
            }
          }
        },
        "x-event-name": "InventoryApi_GetSpecificInventoryItems"
      }
    },
    "/{version}/commerce/inventory/adjustments": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Adjust stock levels on inventory items using relative operations (e.g. increments) or absolute operations (set to this level, set as unlimited).",
        "description": "Adjust stock levels on inventory items using relative operations (e.g. increments) or absolute operations (set to this level, set as unlimited).",
        "operationId": "adjustInventoryStockLevels",
        "parameters": [{
          "name": "version",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "Idempotency-Key",
          "in": "header",
          "required": false,
          "type": "string"
        }, {
          "in": "body",
          "name": "adjustmentRequest",
          "required": false,
          "schema": {
            "$ref": "#/definitions/CreateInventoryAdjustmentRequest"
          }
        }],
        "responses": {
          "204": {
            "description": "The request was successfully processed."
          }
        },
        "x-event-name": "InventoryApi_AdjustInventoryStockLevels"
      }
    },
    "/{version}/commerce/transactions/{documentIds}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get transaction document by specified ids",
        "description": "Get transaction documents by specified ids.",
        "operationId": "getDocumentsById",
        "parameters": [{
          "name": "version",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "documentIds",
          "in": "path",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransactionListResponse"
            }
          }
        },
        "x-event-name": "TransactionsApi_GetDocumentsByID"
      }
    },
    "/{version}/commerce/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Search transaction documents by updated On",
        "description": "Paginated search for transaction documents updated between the specified dates",
        "operationId": "getDocumentsByUpdatedOn",
        "parameters": [{
          "name": "version",
          "in": "path",
          "required": true,
          "type": "string"
        }, {
          "name": "cursor",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "modifiedAfter",
          "in": "query",
          "required": false,
          "type": "string"
        }, {
          "name": "modifiedBefore",
          "in": "query",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedTransactionListResponse"
            }
          }
        },
        "x-event-name": "TransactionsApi_GetDocumentsByUpdatedOn"
      }
    }
  },
  "definitions": {
    "MemberProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "WebsiteProfile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "siteId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "measurementStandard": {
          "$ref": "#/definitions/MeasurementStandard"
        },
        "language": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/Location"
        }
      },
      "x-model-type": "builder"
    },
    "Location": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "OrderListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        }
      },
      "x-model-type": "builder"
    },
    "Order": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "orderNumber": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "channel": {
          "type": "string"
        },
        "testmode": {
          "type": "boolean"
        },
        "customerEmail": {
          "type": "string"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "fulfillmentStatus": {
          "type": "string",
          "enum": ["PENDING", "FULFILLED", "CANCELED"]
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "internalNotes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderNote"
          }
        },
        "shippingLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingLine"
          }
        },
        "discountLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscountLine"
          }
        },
        "formSubmission": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FormItem"
          }
        },
        "fulfillments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fulfillment"
          }
        },
        "subtotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "shippingTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "discountTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "taxTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "refundedTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "grandTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "channelName": {
          "type": "string"
        },
        "externalOrderReference": {
          "type": "string"
        },
        "fulfilledOn": {
          "type": "string",
          "format": "date-time"
        },
        "priceTaxInterpretation": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "Address": {
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "LineItem": {
      "properties": {
        "id": {
          "type": "string"
        },
        "variantId": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "productId": {
          "type": "string"
        },
        "productName": {
          "type": "string"
        },
        "quantity": {
          "type": "integer"
        },
        "unitPricePaid": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "variantOptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VariantOption"
          }
        },
        "customizations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FormItem"
          }
        },
        "imageUrl": {
          "type": "string"
        },
        "lineItemType": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "OrderNote": {
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true
        }
      },
      "x-model-type": "builder"
    },
    "ShippingLine": {
      "properties": {
        "method": {
          "type": "string",
          "description": "The delivery method selected, e.g. \"UPS Ground\""
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        }
      },
      "x-model-type": "builder"
    },
    "DiscountLine": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the promotion"
        },
        "description": {
          "type": "string",
          "description": "A plain-English description of the promotion."
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "promoCode": {
          "type": "string",
          "description": "(Optional) the user-entered promo code that triggered the discount"
        }
      },
      "x-model-type": "builder"
    },
    "VariantOption": {
      "properties": {
        "optionName": {
          "type": "string",
          "description": "The name of the option (e.g. color, size, material)"
        },
        "value": {
          "type": "string",
          "description": "The shopper-selected value for the option (e.g. red, small, cotton)"
        }
      },
      "description": "A product variant option chosen by a shopper (e.g. red + small)",
      "x-model-type": "builder"
    },
    "FormItem": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The name of the form field"
        },
        "value": {
          "type": "string",
          "description": "The value of the field, as entered by the shopper"
        }
      },
      "x-model-type": "builder"
    },
    "Fulfillment": {
      "properties": {
        "shipDate": {
          "type": "string",
          "format": "date-time",
          "description": "The ISO 8601 date and time representing the moment the shipment occurred"
        },
        "carrierName": {
          "type": "string",
          "description": "The shipping carrier, e.g. \"FedEx\", \"USPS\", etc."
        },
        "service": {
          "type": "string",
          "description": "A string representing the level of service, as offered by the carrier, used for this shipment"
        },
        "trackingNumber": {
          "type": "string",
          "description": "The carrier-generated tracking number"
        },
        "trackingUrl": {
          "type": "string",
          "description": "The url supplied by the carrier to track the given shipment."
        }
      },
      "x-model-type": "builder"
    },
    "ProductVariant": {
      "properties": {
        "id": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "pricing": {
          "$ref": "#/definitions/ProductPricing"
        },
        "stock": {
          "$ref": "#/definitions/ProductStock"
        },
        "attributes": {
          "type": "object",
          "properties": {}
        },
        "shippingMeasurements": {
          "$ref": "#/definitions/ProductMeasurements"
        },
        "image": {
          "$ref": "#/definitions/ProductImage"
        }
      },
      "x-model-type": "builder"
    },
    "ProductMeasurements": {
      "properties": {
        "weight": {
          "$ref": "#/definitions/ProductWeight"
        },
        "dimensions": {
          "$ref": "#/definitions/ProductDimensions"
        }
      },
      "x-model-type": "builder"
    },
    "ProductDimensions": {
      "type": "object",
      "properties": {
        "unit": {
          "$ref": "#/definitions/ProductDimensionsUnit"
        },
        "length": {
          "type": "number",
          "format": "float",
          "x-boxed": true
        },
        "width": {
          "type": "number",
          "format": "float",
          "x-boxed": true
        },
        "height": {
          "type": "number",
          "format": "float",
          "x-boxed": true
        }
      },
      "x-model-type": "builder"
    },
    "ProductDimensionsUnit": {
      "type": "string",
      "enum": ["CENTIMETER", "INCH"]
    },
    "ProductStock": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "integer"
        },
        "unlimited": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "ProductType": {
      "type": "string",
      "enum": ["PHYSICAL"]
    },
    "CreateProductVariantRequest": {
      "properties": {
        "sku": {
          "type": "string"
        },
        "pricing": {
          "$ref": "#/definitions/ProductPricing"
        },
        "stock": {
          "$ref": "#/definitions/ProductStock"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "shippingMeasurements": {
          "$ref": "#/definitions/ProductMeasurements"
        }
      },
      "x-model-type": "builder"
    },
    "ProductSize": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string"
        },
        "length": {
          "type": "number",
          "format": "float"
        },
        "width": {
          "type": "number",
          "format": "float"
        },
        "height": {
          "type": "number",
          "format": "float"
        }
      },
      "x-model-type": "builder"
    },
    "ProductPricing": {
      "properties": {
        "basePrice": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "salePrice": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "onSale": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "PaginatedProductListResponse": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        }
      },
      "x-model-type": "builder"
    },
    "CreateProductRequest": {
      "properties": {
        "type": {
          "$ref": "#/definitions/ProductType"
        },
        "productsPageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "urlSlug": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isVisible": {
          "type": "boolean"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateProductVariantRequest"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ProductImage": {
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "originalSize": {
          "type": "object",
          "properties": {}
        },
        "availableFormats": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ProductImageProcessingStatus": {
      "properties": {
        "Id": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/ImageProcessingStatus"
        }
      },
      "x-model-type": "builder"
    },
    "UploadProductImageResponse": {
      "properties": {
        "imageId": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "SeoOptions": {
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "ProductListResponseBetaV1": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductBetaV1"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ProductWeightBetaV1": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "float"
        }
      },
      "x-model-type": "builder"
    },
    "ProductDimensionsBetaV1": {
      "properties": {
        "weight": {
          "$ref": "#/definitions/ProductWeightBetaV1"
        },
        "size": {
          "$ref": "#/definitions/ProductSize"
        }
      },
      "x-model-type": "builder"
    },
    "ProductBetaV1": {
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ProductType"
        },
        "productPageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "urlSlug": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductImage"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isVisible": {
          "type": "boolean"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductVariantBetaV1"
          }
        },
        "seoOptions": {
          "$ref": "#/definitions/SeoOptions"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        }
      },
      "x-model-type": "builder"
    },
    "PaginatedProductListResponseBetaV1": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductBetaV1"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        }
      },
      "x-model-type": "builder"
    },
    "ProductVariantBetaV1": {
      "properties": {
        "id": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "pricing": {
          "$ref": "#/definitions/ProductPricing"
        },
        "stock": {
          "$ref": "#/definitions/ProductStock"
        },
        "attributes": {
          "type": "object",
          "properties": {}
        },
        "shippingDimensions": {
          "$ref": "#/definitions/ProductDimensionsBetaV1"
        },
        "image": {
          "$ref": "#/definitions/ProductImage"
        }
      },
      "x-model-type": "builder"
    },
    "ProductListResponse": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ProductWeight": {
      "type": "object",
      "properties": {
        "unit": {
          "$ref": "#/definitions/ProductWeightUnit"
        },
        "value": {
          "type": "number",
          "format": "float",
          "x-boxed": true
        }
      },
      "x-model-type": "builder"
    },
    "ProductWeightUnit": {
      "type": "string",
      "enum": ["KILOGRAM", "POUND"]
    },
    "Product": {
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ProductType"
        },
        "productsPageId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "urlSlug": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductImage"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isVisible": {
          "type": "boolean"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductVariant"
          }
        },
        "seoOptions": {
          "$ref": "#/definitions/SeoOptions"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        }
      },
      "x-model-type": "builder"
    },
    "IsRegisteredResponse": {
      "properties": {
        "isRegistered": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "RegisterProviderRequest": {
      "properties": {
        "credentials": {
          "$ref": "#/definitions/ProviderCredentials"
        }
      },
      "x-model-type": "builder"
    },
    "ProviderType": {
      "type": "string",
      "enum": ["TAX_CHECKOUT"]
    },
    "ProviderCredentials": {
      "properties": {
        "credentialsType": {
          "$ref": "#/definitions/ProviderCredentialsType"
        },
        "token": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "ProviderCredentialsType": {
      "type": "string",
      "enum": ["API_KEY"]
    },
    "ImageProcessingStatus": {
      "type": "string",
      "enum": ["QUEUED", "PROCESSING", "READY", "ERROR"]
    },
    "TransactionTax": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "rate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "jurisdiction": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "TransactionDocument": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedOn": {
          "type": "string",
          "format": "date-time"
        },
        "customerEmail": {
          "type": "string"
        },
        "salesOrderId": {
          "type": "string"
        },
        "voided": {
          "type": "boolean"
        },
        "totalSales": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalNetSales": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalNetShipping": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalTaxes": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "total": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalNetPayment": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "payments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionPayment"
          }
        },
        "salesLineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionSalesLineItem"
          }
        },
        "discounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionDiscount"
          }
        },
        "shippingLineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionShippingLineItem"
          }
        },
        "paymentGatewayError": {
          "type": "string",
          "enum": ["GATEWAY_FEE_PROCEESING_ERROR", "GATEWAY_API_PERMISSION_ERROR", "GATEWAY_DISCONNNECTED"]
        }
      },
      "x-model-type": "builder"
    },
    "TransactionListResponse": {
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionDocument"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ExternalTransactionProperty": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TransactionRefund": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "refundedOn": {
          "type": "string",
          "format": "date-time"
        },
        "externalTransactionId": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "TransactionDiscount": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        }
      },
      "x-model-type": "builder"
    },
    "TransactionPayment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "refundedAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "netAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "creditCardType": {
          "type": "string"
        },
        "provider": {
          "type": "string"
        },
        "refunds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionRefund"
          }
        },
        "processingFees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionProcessingFee"
          }
        },
        "giftCardId": {
          "type": "string"
        },
        "paidOn": {
          "type": "string",
          "format": "date-time"
        },
        "externalTransactionId": {
          "type": "string"
        },
        "externalTransactionProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalTransactionProperty"
          }
        },
        "externalCustomerId": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "PaginatedTransactionListResponse": {
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionDocument"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        }
      },
      "x-model-type": "builder"
    },
    "TransactionShippingLineItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "discountAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "netAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "description": {
          "type": "string"
        },
        "taxes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTax"
          }
        }
      },
      "x-model-type": "builder"
    },
    "TransactionProcessingFee": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "amountGatewayCurrency": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "exchangeRate": {
          "type": "number"
        },
        "refundedAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "refundedAmountGatewayCurrency": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "netAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "netAmountGatewayCurrency": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "feeRefunds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionProcessingFeeRefund"
          }
        }
      },
      "x-model-type": "builder"
    },
    "TransactionSalesLineItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "discountAmount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalSales": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "totalNetSales": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "total": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "taxes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionTax"
          }
        }
      },
      "x-model-type": "builder"
    },
    "TransactionProcessingFeeRefund": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "amountGatewayCurrency": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "exchangeRate": {
          "type": "number"
        },
        "refundedOn": {
          "type": "string",
          "format": "date-time"
        },
        "externalTransactionId": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "MeasurementStandard": {
      "type": "string",
      "enum": ["IMPERIAL", "METRIC"]
    },
    "InventoryItemListResponse": {
      "properties": {
        "inventory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryItem"
          }
        }
      },
      "x-model-type": "builder"
    },
    "InventoryQuantityExpression": {
      "type": "object",
      "properties": {
        "variantId": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "x-boxed": true
        }
      },
      "x-model-type": "builder"
    },
    "InventoryItem": {
      "properties": {
        "variantId": {
          "type": "string"
        },
        "sku": {
          "type": "string"
        },
        "descriptor": {
          "type": "string"
        },
        "quantity": {
          "type": "integer"
        },
        "isUnlimited": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "CreateInventoryAdjustmentRequest": {
      "type": "object",
      "properties": {
        "incrementOperations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryQuantityExpression"
          }
        },
        "decrementOperations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryQuantityExpression"
          }
        },
        "setFiniteOperations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryQuantityExpression"
          }
        },
        "setUnlimitedOperations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-model-type": "builder"
    },
    "PaginatedInventoryItemListResponse": {
      "properties": {
        "inventory": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryItem"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        }
      },
      "x-model-type": "builder"
    },
    "PaginatedProductsPagesResponse": {
      "properties": {
        "pagination": {
          "$ref": "#/definitions/PaginationDetails"
        },
        "productsPages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductsPage"
          }
        }
      },
      "x-model-type": "builder"
    },
    "ProductsPage": {
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "PaginationDetails": {
      "type": "string"
    },
    "OrderFulfillmentRequest": {
      "properties": {
        "shouldSendNotification": {
          "type": "boolean",
          "description": "Indicates whether the customer should receive an email notification about the added shipments."
        },
        "shipments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateOrderShipmentRequest"
          },
          "description": "Array of shipment data."
        }
      },
      "x-model-type": "builder"
    },
    "CreateAddressRequest": {
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "CreateOrderRequest": {
      "properties": {
        "channelName": {
          "type": "string"
        },
        "externalOrderReference": {
          "type": "string"
        },
        "customerEmail": {
          "type": "string"
        },
        "billingAddress": {
          "$ref": "#/definitions/CreateAddressRequest"
        },
        "shippingAddress": {
          "$ref": "#/definitions/CreateAddressRequest"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateLineItemRequest"
          }
        },
        "shippingLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateShippingLineRequest"
          }
        },
        "discountLines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateDiscountLineRequest"
          }
        },
        "subtotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "shippingTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "discountTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "taxTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "priceTaxInterpretation": {
          "$ref": "#/definitions/TaxInterpretation"
        },
        "grandTotal": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "fulfillmentStatus": {
          "$ref": "#/definitions/OrderCreateFulfillmentStatus"
        },
        "fulfillments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreateOrderShipmentRequest"
          }
        },
        "fulfilledOn": {
          "type": "string",
          "format": "date-time"
        },
        "sendShopperFulfillmentNotification": {
          "type": "boolean"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time"
        },
        "shouldDeductInventory": {
          "type": "boolean"
        }
      },
      "x-model-type": "builder"
    },
    "CreateLineItemRequest": {
      "properties": {
        "lineItemType": {
          "$ref": "#/definitions/OrderCreateLineItemType"
        },
        "variantId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "quantity": {
          "type": "integer"
        },
        "unitPricePaid": {
          "$ref": "#/definitions/MonetaryAmount"
        },
        "nonSaleUnitPrice": {
          "$ref": "#/definitions/MonetaryAmount"
        }
      },
      "x-model-type": "builder"
    },
    "CreateShippingLineRequest": {
      "properties": {
        "method": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        }
      },
      "x-model-type": "builder"
    },
    "LineItemType": {
      "type": "string",
      "enum": ["PHYSICAL_PRODUCT", "CUSTOM", "DIGITAL_PRODUCT", "SERVICE", "GIFT_CARD", "PAYWALL_PRODUCT"]
    },
    "OrderCreateFulfillmentStatus": {
      "type": "string",
      "enum": ["PENDING", "FULFILLED"]
    },
    "CreateDiscountLineRequest": {
      "properties": {
        "promoCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "amount": {
          "$ref": "#/definitions/MonetaryAmount"
        }
      },
      "x-model-type": "builder"
    },
    "TaxInterpretation": {
      "type": "string",
      "enum": ["INCLUSIVE", "EXCLUSIVE"]
    },
    "OrderCreateLineItemType": {
      "type": "string",
      "enum": ["PHYSICAL_PRODUCT", "CUSTOM"]
    },
    "CreateOrderShipmentRequest": {
      "properties": {
        "shipDate": {
          "type": "string",
          "format": "date-time",
          "description": "ISO 8601 UTC date and time string. Represents the moment the shipment occurred."
        },
        "carrierName": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "trackingNumber": {
          "type": "string"
        },
        "trackingUrl": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "FormSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "WebsiteSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "canonicalUrl": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "FormFieldDescription": {
      "type": "object",
      "properties": {
        "type": {
          "description": "unicode, int, or bool",
          "$ref": "#/definitions/FormFieldValueType"
        },
        "key": {
          "type": "string",
          "description": "the key in the form submission data"
        },
        "label": {
          "type": "string",
          "description": "the human-readable label to display"
        }
      },
      "description": "follows Zapier format found here https://zapier.com/developer/documentation/v2/trigger-fields-custom/",
      "x-model-type": "builder"
    },
    "FormFieldValueType": {
      "type": "string",
      "enum": ["UNICODE", "INT", "BOOL"]
    },
    "FireDrillResponseType": {
      "type": "string",
      "description": "The type of HTTP response to return",
      "enum": ["OK_200", "INTERNAL_SERVER_ERROR_500", "SERVICE_UNAVAILABLE_503"]
    },
    "FireDrillResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "x-model-type": "builder"
    },
    "MonetaryAmount": {
      "type": "integer"
    }
  }
}